* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
    background-image: url("../images/wall4.png");
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}
#navBkgd {
    background-color: #fff;
    position: fixed;
    display: block;
    width: 100%;
    height: 64px;
    border-bottom: #ccc 3px solid;
    top: 0;
}
.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
}
header {
    height: 64px;
    position: relative;
    margin-bottom: 30px;
}
h1 {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 23px 20px 5px 20px;
    width: 260px;
    float: left;    
}
nav {
    margin-top: 42px;
    float: right;
    position: absolute;
    right: 0;
    clear: both;
}
.nav li {
    list-style: none;
    display: inline;
    padding: 15px;
}
.nav a {
    color: #666;
    text-decoration: none;
}
.nav a:hover {
    color: #4aaaa5;
}
a {
    color: #4aaaa5;
}
main {
    background-color: #fff;
    padding: 40px;
    height: auto;
    clear: both;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }
p {
    line-height: 180%;
}

  